.ui-login-con{
    width: 100%;
    height: 100%;
    background: url("../images/login_bg.png") no-repeat center ;
    background-size: 61.11111rem;
}

.ui-login-left,.ui-login-right{
    display: inline-block;
}
.ui-login-left{
    width: 48%;
}
.ui-login-right{
    width: 45%;
    vertical-align: top;
}
.ui-login-left-bg{
    background: url("../images/login_left_bg.png") no-repeat 18rem 16.66667rem ;
    height: 100%;
    background-size: 65%;
}
.ui-login-form{
    width: 22.22222rem;
    margin: 0 auto;
    height: auto;
    margin-top: 16.66667rem;
}


.ui-procol-des{
    color: #b2b3b3;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    margin-top: 2.77778rem;
}

.ui-order-h-des span:not(:last-child){
    border-right: 1px solid #b2b3b3;
}
.ui-web-btn{
    font-size: 1.11111rem;
    height: 3.22222rem;
    line-height: 3.22222rem;
    width: 22.22222rem;
}
.ui-order-h-des span{
    padding:0 0.55556rem;
    height: 1.11111rem;
    margin: 0.55556rem 0;
}
.ui-order-l-des{
    height: 2.22222rem;
    line-height: 2.22222rem;
    font-size: 0.77778rem;
}

.ui-order-l-des:before,.ui-order-l-des:after{
    content: "";
    width: 5rem;
    height: 0;
    border-bottom: 1px solid #b2b3b3;
    position: relative;
    display: inline-block;
    top: -0.16667rem;
}
.ui-order-l-des:before{
    left: -0.55556rem;
}
.ui-order-l-des:after{
    left: 0.55556rem;
}