@media screen and (max-width: 1023px) {
    html,body {
        font-size : 52%!important ;
    }
    .ui-content-con{
        width: 845px;
    }
    .ui-header-con{
        width: 1024px!important;
    }
    .ui-login-con{
        width: 1024px!important;
    }
    .ui-detail-con{
        width: 1024px!important;
    }
    .ui-videoDetail-con{
        width: 880px!important;
    }
    .ui-video-detail-video{
        width: 620px!important;
    }
    .ui-video-detail-video video{
        width: 620px!important;
    }
    .ui-detail-con{
        margin-left: 10.73333rem!important;
    }
    .ui-login-left-bg{
        background: url("../images/login_left_bg.png") no-repeat 18rem 10.66667rem !important;
        background-size: 65%!important;
    }
    .ui-login-form{
        margin-top: 6.66667rem!important;
    }
    .ui-web-tings-icon {
        height: 2.21429rem!important;
    }
    .ui-video-detail-depth p{
        line-height: 2.28889rem!important;
    }
}
@media screen and (min-width: 1024px) {
    html,body {
        font-size : 45%!important ;
    }
    .ui-detail-con{
        margin-left: 10.73333rem!important;
    }
    .ui-login-left-bg{
        background: url("../images/login_left_bg.png") no-repeat 18rem 10.66667rem !important;
        background-size: 65%!important;
    }
    .ui-login-form{
        margin-top: 6.66667rem!important;
    }
    .ui-web-tings-icon {
        height: 2.21429rem!important;
    }
    .ui-video-detail-depth p{
        line-height: 2.28889rem!important;
    }
    .ui-video-detail-video{
        width: 620px!important;
    }
    .ui-video-detail-video video{
        width: 620px!important;
    }
}
@media screen and (min-width: 1280px) {
    html,body {
        font-size : 63%!important ;
    }
    .ui-detail-con{
        margin-left: 11.73333rem!important;
    }
    .ui-login-left-bg{
        background: url("../images/login_left_bg.png") no-repeat 18rem 12.66667rem !important;
        background-size: 65%!important;
    }
    .ui-login-form{
        margin-top: 10.66667rem!important;
    }
    .ui-video-detail-video{
        width: 90%!important;
    }
    .ui-video-detail-video video{
        width: 100%!important;
    }
    .ui-web-tings-icon {
        height: 3.71429rem!important;
    }
    .ui-video-detail-depth p{
        line-height: 4.58889rem!important;
    }
}

@media screen and (min-width: 1366px) {
    html,body {
        font-size : 73%!important ;
    }
    .ui-detail-con{
        margin-left: 12.93333rem!important;
    }
    .ui-login-left-bg{
        background: url("../images/login_left_bg.png") no-repeat 18rem 12.66667rem !important;
        background-size: 65%!important;
    }
    .ui-login-form{
        margin-top: 13.66667rem!important;
    }
    .ui-web-tings-icon {
        height: 4.21429rem!important;
    }
    .ui-video-detail-depth p{
        line-height: 3.28889rem!important;
    }
    .ui-web-tings-icon {
        height: 4.51429rem!important;
    }
    .ui-video-detail-depth p{
        line-height: 4.58889rem!important;
    }
}
@media screen and (min-width: 1440px) {
    html,body {
        font-size : 81%!important ;
    }
    .ui-detail-con{
        margin-left: 13.43333rem!important;
    }
    .ui-login-left-bg{
        background: url("../images/login_left_bg.png") no-repeat 18rem 12.66667rem !important;
        background-size: 65%!important;
    }
    .ui-login-form{
        margin-top: 13.66667rem!important;
    }
    .ui-web-tings-icon {
        height: 5.01429rem!important;
    }
    .ui-video-detail-depth p{
        line-height: 5.08889rem!important;
    }
}
@media screen and (min-width: 1680px) {
    html,body {
        font-size : 91%!important ;
    }
    .ui-detail-con{
        margin-left: 12.73333rem!important;
    }
    .ui-login-form{
        margin-top: 13.66667rem!important;
    }
}

@media screen and (min-width: 1920px) {
    html,body {
        font-size : 109%!important ;
    }

}