.ui-page-list{
    float: right;
    padding: 0 0.44444rem;
    line-height: 1.11111rem;
    margin-left: 0.27778rem;
    margin-top: 1.66667rem;
}
.ui-page-list p{
    display: inline-block;
    border-radius: 0.11111rem 0.11111rem 0.11111rem;
    text-align: center;
    cursor: pointer;
    background-color: #ecf1f5;
    min-width: 1.66667rem;
    padding: 0 0.7778rem;
    height: 1.5rem;
    line-height: 1.5rem;
}
.ui-page-list p.current-page{
    background: #b0d5f8;
    color: #fff;
}