<div class="ui-header-con ui-com-clearFix">
    <div class="ui-web-logo"></div>
    <div class="ui-header-info ui-com-clearFix">
        <div class="ui-web-space">
            <p class="ui-web-space-val">
                <span style="width:{(this.space/500)*100}%;"></span>
            </p>
            <p class="ui-web-space-txt">{this.space}MB/500MB</p>
        </div>
        <div class="ui-header-user">
            <span class="ui-header-user-icon"></span>
            {sessionStorage.name}
        </div>
        <div data-event="exit" class="ui-header-exit">
            <span  class="ui-header-exit-icon"></span>
            退出
        </div>
    </div>

</div>