<div class="ui-header-con ui-com-clearFix">
    <div class="ui-web-logo"></div>
    <div class="ui-header-info ui-com-clearFix">
        <div class="ui-web-space">
            <p class="ui-web-space-val">
                <span style="width:30px;"></span>
            </p>
            <p class="ui-web-space-txt">240MB/500MB</p>
        </div>
        <div class="ui-header-user">
            <span class="ui-header-user-icon"></span>
            ADMIN MY AA
        </div>
        <div class="ui-header-exit">
            <span class="ui-header-exit-icon"></span>
            退出
        </div>
    </div>

</div>