<%
    var page = this.parent.page;
%>
<div class="ui-left-nav">
    <ul>
        <li data-event="goPage:video" {if page=="video"}class="on"{/if}>
            <div>
                <span {if page=="video"}class="ui-video-on-icon"{else}class="ui-video-off-icon"{/if}></span>
                <span class="ui-left-nav-txt">视频</span>
            </div>
        </li>
        <li  data-event="goPage:statics" {if page=="statics"}class="on"{/if}>
            <div>
                <span  {if page=="statics"}class="ui-count-on-icon"{else}class="ui-count-off-icon"{/if}></span>
                <span class="ui-left-nav-txt">统计</span>
            </div>
        </li>
    </ul>
</div>