<div class="ui-login-con">
    <div class="ui-login-left">
        <div class="ui-login-left-bg"></div>
    </div>
    <div class="ui-login-right">
        <div class="ui-login-form">
            <div class="ui-web-logo"> </div>
            <div class="ui-web-input">
                <span class="ui-user-icon"></span>
                <input data-event="blur>hideError" data-bind="args.account" type="text"/>
            </div>
            <div class="ui-web-input">
                <span class="ui-lock-icon"></span>
                <input data-event="blur>hideError" data-bind="args.password" type="text"/>
            </div>
            <div class="ui-error-con">
                <span class="ui-error-icon"></span>
                <span class="ui-error-text">请输入正确的用户名或密码</span>
            </div>
            <div data-event="login" class="ui-web-btn">登录</div>
        </div>

        <div class="ui-procol-des">
            <p class="ui-order-h-des">
                <span>用户协议</span>
                <span>内容版权</span>
            </p>
            <p class="ui-order-l-des">Copyright @ 2016 Dressplus.Ltd.All rights reserved</p>
        </div>
    </div>

</div>