<div class="ui-detail-con ui-videoDetail-con">
    <div class="ui-detail-header">
        <span class="ui-web-back-icon"></span>
        <span data-event="go:list/video" class="ui-content-header-txt">返回列表</span>
    </div>
    <div class="ui-video-detail ui-com-clearFix">
        <div class="ui-video-detail-info">
            <div class="ui-video-detail-face">
                <p class="ui-video-name">如果蜗牛有爱情05.mp4</p>
                <p>上传时间：2016-10-06 / 20:08 </p>
                <p>00:13:00</p>
                <p>文件大小：80MB</p>
            </div>
            <div class="ui-video-detail-depth">
                <p>
                    <span class="ui-web-tings-icon"></span>
                    <span class="ui-statics-txt">物体</span>
                    <span class="ui-web-count">16</span>
                </p>
                <p>
                    <span class="ui-web-place-icon"></span>
                    <span class="ui-statics-txt">场景</span>
                    <span class="ui-web-count">33</span>
                </p>
                <p>
                    <span class="ui-web-people-icon"></span>
                    <span class="ui-statics-txt">明星</span>
                    <span class="ui-web-count">33</span>
                </p>
            </div>
            <div data-event="downloadJSON" class="ui-web-pad-btn">下载JSON</div>
        </div>
        <div class="ui-video-detail-video">
            <video id="videoDom" width="100%" height="100%" controls>
                <source src="../images/test.mp4"  type="video/mp4"/>
                您的浏览器不支持 HTML5 video 标签。
            </video>
            <div data-part="videoMask" class="ui-video-mask">
                    <div style="width:{this.mask.width}px;height:{this.mask.height}px;left:{this.mask.x}px;top:{this.mask.y}px"  class="ui-video-mask-range">
                        <div class="ui-video-mask-tip">
                            <div s class="ui-video-mask-txt">{this.mask.text}</div>
                            <div class="ui-video-mask-trangle"></divs>
                        </div>
                    </div>
            </div>

        </div>
    </div>
    <div class="ui-statics-form ui-com-clearFix ui-con-fw">
        <div class="ui-statics-form-con ui-floatR">
            <div>
                <span>持续时间</span>
                <div data-part="rangePart" class="ui-range-con">
                    <input data-bind="args.rangeVal" data-event="change>timeSelect" name="money" type="range" min="3" max="20" step="1" id="range">
                    <div class="ui-statics-controlRange" style="width:{this.rangeWidth};"></div>
                    <div class="ui-range-tip">
                        <span>3s</span>
                        <span class="ui-orange-txt" style="left:{this.rangeWidth};">{if this.args.rangeVal>3&&this.args.rangeVal<20}{this.args.rangeVal}s{/if}</span>
                        <span>20s+</span>
                    </div>
                </div>
            </div>
            <div data-enter="search" class="ui-web-input">
                <span class="ui-search-icon"></span>
                <input data-bind="args.serachString" type="text"/>
            </div>
        </div>
    </div>
    <div class="ui-con-fw ui-statics-list-con">
        <div class="ui-statics-list-header ui-com-clearFix">
            <div class="ui-statics-list-header-txt">明星</div>
            <div data-event="showHideAllDetail" class="ui-detail-all-export">＋</div>
        </div>
        <ul class="ui-statics-list">
            <li>
                <span>名称</span>
                <span>标签数</span>
                <span>时长</span>
                <span>
                    广告机会
                    <span class="ui-orange-txt">3</span>
                </span>
            </li>
            <li>
                <span>刘涛</span>
                <span>
                    8
                    <span data-event="showHideDetail" class="ui-detail-unexport-icon"></span>
                </span>
                <span>00:22:33</span>
                <span>3</span>
                <div class="ui-list-item-detail">
                    <div>
                        <img src="">
                        <p>开始时间 ／ 00:14:18</p>
                        <p>持续时间 ／ <span class="ui-orange-txt">＃13s</span></p>
                    </div>
                    <div>
                        <img src="">
                        <p>开始时间 ／ 00:14:18</p>
                        <p>持续时间 ／ <span class="ui-orange-txt">＃13s</span></p>
                    </div>
                    <div>
                        <img src="">
                        <p>开始时间 ／ 00:14:18</p>
                        <p>持续时间 ／ <span class="ui-orange-txt">＃13s</span></p>
                    </div>
                    <div>
                        <img src="">
                        <p>开始时间 ／ 00:14:18</p>
                        <p>持续时间 ／ <span class="ui-orange-txt">＃13s</span></p>
                    </div>
                    <div>
                        <img src="">
                        <p>开始时间 ／ 00:14:18</p>
                        <p>持续时间 ／ <span class="ui-orange-txt">＃13s</span></p>
                    </div>
                    <div>
                        <img src="">
                        <p>开始时间 ／ 00:14:18</p>
                        <p>持续时间 ／ <span class="ui-orange-txt">＃13s</span></p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

</div>